.form-container {
    display: flex;
    width: 60%
}

#project-form {
    width: 100%;
}

textarea {
    display: grid;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}

input {
    margin-bottom: 2%;
}