.navbar {
    display: flex;
    justify-content: right;
}

.navbar a {
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2%;
}

nav a:hover {
    text-decoration:underline;
}

#loggedIn-nav {
    display: flex;
}

.active {
    font-weight: bolder;
}

#img-div {
    display: flex;
    justify-content: center;
    margin: 2% auto 2% auto;
}

img#logo {
    width: 50%;
}